<form>
    <table>
        <tr>
            <td style="width:40%">Name</td>
            <td><input type="text" ng-model="presentationConfig.name" placeholder="Untitled_" /></td>
        </tr>
        <tr>
            <td>Width</td>
            <td><input type="number" ng-model="presentationConfig.width" /></td>
        </tr>
        <tr>
            <td>Height</td>
            <td><input type="number" ng-model="presentationConfig.height" /></td>
        </tr>
        <tr>
            <td>Template</td>
            <td>
                <select ng-options="">
                    <option>--Select a template</option>
                </select>
            </td>
        </tr>
    </table>
</form>